/* Navigation tabs */

#otherstuff {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none;
    border-top: 0;
}

#otherstuff li {
    width: 125px;
    float: left;
    background: #2c5ea5;
    border-left: 1px solid white;
    text-align: center;
}

#otherstuff li:first-child {
    border-left: none;
}

#otherstuff li a {
    display: block;
    padding: 6px 0;
}